* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container {
  display: flex;
}

.card-container {
  margin: 5px;
  width: 200px;
  height: 300px;
}

.card {
  width: 100%;
  height: 100%;

  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card .front {
  background-color: blue;
  text-align: center;
}
.card .back {
  background-color: red;
  transform: rotateY(180deg);
}
